In [1]:
import pandas as pd

In [2]:
#Fusion des Bases de donn√©es Cerema : https://datafoncier.cerema.fr/donnees/autres-donnees-foncieres/dvfplus-open-data

In [3]:
# table "adresse" : table contenant les adresses (provenant des parcelles et des locaux)
adresse=pd.read_csv("dvf_75_adresse.csv", sep=";")

In [4]:
adresse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50714 entries, 0 to 50713
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   idadresse   50714 non-null  int64
 1   novoie      50651 non-null  float64
 2   btq         2901 non-null   object
 3   typvoie     50537 non-null  object
 4   codvoie     50694 non-null  object
 5   voie        50614 non-null  object
 6   codepostal  50612 non-null  float64
 7   commune     50634 non-null  object
 8   idadrinvar  50714 non-null  object
 9   coddep      50714 non-null  int64
dtypes: float64(2), int64(2), object(6)
memory usage: 3.9+ MB

In [5]:
# table "adresse_discoparc" : table de liaison entre la table adresse et la table disposition_parcelle
adresse_disco=pd.read_csv("dvf_75 adresse_discoparc.csv", sep=";")

In [6]:
adresse_disco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349179 entries, 0 to 349178
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   idadresse   349179 non-null  int64
 1   iddispopar  349179 non-null  int64
 2   coddep      349179 non-null  int64
 3   idmutation  349179 non-null  int64
dtypes: int64(4)
memory usage: 10.7 MB

In [7]:
## table "mutation" : table des mutations
mutation_75=pd.read_csv("dvf_75 mutation.csv", sep=";")

In [8]:
mutation_75.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334708 entries, 0 to 334707
Data columns (total 64 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   idmutation  334708 non-null  int64
 1   idmutinvar  334708 non-null  object
 2   idopendata  334708 non-null  object
 3   idnatmut    334708 non-null  int64
 4   codservch   0 non-null       float64
 5   refdoc      0 non-null       float64
 6   datemut     334708 non-null  object
 7   anneemut    334708 non-null  int64
 8   moismut     334708 non-null  int64
 9   coddep      334708 non-null  int64
 10  libnatmut   334708 non-null  object
 11  nbartcgi    334708 non-null  int64
 12  l_artcgi    0 non-null       float64
 13  vefa        334708 non-null  object
 14  valeurfonc  334510 non-null  float64
 15  nbdispo     334708 non-null  int64
 16  nblot       334708 non-null  int64
 17  nbcomm      334708 non-null  int64
 18  l_codinsee  334708 non-null  object
 19  nbsection   334708 non-null  int64
 20  l_section   334708 non-null  object
 21  nbpar       334708 non-null  int64
 22  l_idpar     334708 non-null  object
 23  nbparmut    334708 non-null  int64
 24  l_idparmut  4162 non-null    object
 25  nbsuf       334708 non-null  int64
 26  sterr       334708 non-null  int64
 27  l_dcnt      334708 non-null  object
 28  nbvolmut    334708 non-null  int64
 29  nblocmut    334708 non-null  int64
 30  l_idlocmut  329770 non-null  object
 31  nblocmai    334708 non-null  int64
 32  nblocapt    334708 non-null  int64
 33  nblocdep    334708 non-null  int64
 34  nblocact    334708 non-null  int64
 35  nbapt1pp    334708 non-null  int64
 36  nbapt2pp    334708 non-null  int64
 37  nbapt3pp    334708 non-null  int64
 38  nbapt4pp    334708 non-null  int64
 39  nbapt5pp    334708 non-null  int64
 40  nbmai1pp    334708 non-null  int64
 41  nbmai2pp    334708 non-null  int64
 42  nbmai3pp    334708 non-null  int64
 43  nbmai4pp    334708 non-null  int64
 44  nbmai5pp    334708 non-null  int64
 45  sbati       334708 non-null  int64
 46  sbatmai     334708 non-null  int64
 47  sbatapt     334708 non-null  int64
 48  sbatact     334708 non-null  int64
 49  sapt1pp     334708 non-null  int64
 50  sapt2pp     334708 non-null  int64
 51  sapt3pp     334708 non-null  int64
 52  sapt4pp     334708 non-null  int64
 53  sapt5pp     334708 non-null  int64
 54  smai1pp     334708 non-null  int64
 55  smai2pp     334708 non-null  int64
 56  smai3pp     334708 non-null  int64
 57  smai4pp     334708 non-null  int64
 58  smai5pp     334708 non-null  int64
 59  geomlocmut  329693 non-null  object
 60  geomparmut  4152 non-null    object
 61  geompar     334583 non-null  object
 62  codtypbien  334708 non-null  int64
 63  libtypbien  334708 non-null  object
dtypes: float64(4), int64(45), object(15)
memory usage: 163.4+ MB

In [9]:
# Fusion des tables adresse et adresse_disco sur l'ID adresse
fusion_adr=adresse.merge(right=adresse_disco, on="idadresse")

In [10]:
fusion_adr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349179 entries, 0 to 349178
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   idadresse   349179 non-null  int64
 1   novoie      346623 non-null  float64
 2   btq         15760 non-null   object
 3   typvoie     346369 non-null  object
 4   codvoie     346739 non-null  object
 5   voie        346658 non-null  object
 6   codepostal  346653 non-null  float64
 7   commune     349098 non-null  object
 8   idadrinvar  349179 non-null  object
 9   coddep_x    349179 non-null  int64
 10  iddispopar  349179 non-null  int64
 11  coddep_y    349179 non-null  int64
 12  idmutation  349179 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 37.3+ MB

In [11]:
## Fusion de l'ensemble avec la table mutation, sur l'ID mutation  
cerema0=mutation_75.merge(right=fusion_adr, on="idmutation")

In [12]:
cerema0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349179 entries, 0 to 349178
Data columns (total 76 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   idmutation  349179 non-null  int64
 1   idmutinvar  349179 non-null  object
 2   idopendata  349179 non-null  object
 3   idnatmut    349179 non-null  int64
 4   codservch   0 non-null       float64
 5   refdoc      0 non-null       float64
 6   datemut     349179 non-null  object
 7   anneemut    349179 non-null  int64
 8   moismut     349179 non-null  int64
 9   coddep      349179 non-null  int64
 10  libnatmut   349179 non-null  object
 11  nbartcgi    349179 non-null  int64
 12  l_artcgi    0 non-null       float64
 13  vefa        349179 non-null  object
 14  valeurfonc  348752 non-null  float64
 15  nbdispo     349179 non-null  int64
 16  nblot       349179 non-null  int64
 17  nbcomm      349179 non-null  int64
 18  l_codinsee  349179 non-null  object
 19  nbsection   349179 non-null  int64
 20  l_section   349179 non-null  object
 21  nbpar       349179 non-null  int64
 22  l_idpar     349179 non-null  object
 23  nbparmut    349179 non-null  int64
 24  l_idparmut  5614 non-null    object
 25  nbsuf       349179 non-null  int64
 26  sterr       349179 non-null  int64
 27  l_dcnt      349179 non-null  object
 28  nbvolmut    349179 non-null  int64
 29  nblocmut    349179 non-null  int64
 30  l_idlocmut  343411 non-null  object
 31  nblocmai    349179 non-null  int64
 32  nblocapt    349179 non-null  int64
 33  nblocdep    349179 non-null  int64
 34  nblocact    349179 non-null  int64
 35  nbapt1pp    349179 non-null  int64
 36  nbapt2pp    349179 non-null  int64
 37  nbapt3pp    349179 non-null  int64
 38  nbapt4pp    349179 non-null  int64
 39  nbapt5pp    349179 non-null  int64
 40  nbmai1pp    349179 non-null  int64
 41  nbmai2pp    349179 non-null  int64
 42  nbmai3pp    349179 non-null  int64
 43  nbmai4pp    349179 non-null  int64
 44  nbmai5pp    349179 non-null  int64
 45  sbati       349179 non-null  int64
 46  sbatmai     349179 non-null  int64
 47  sbatapt     349179 non-null  int64
 48  sbatact     349179 non-null  int64
 49  sapt1pp     349179 non-null  int64
 50  sapt2pp     349179 non-null  int64
 51  sapt3pp     349179 non-null  int64
 52  sapt4pp     349179 non-null  int64
 53  sapt5pp     349179 non-null  int64
 54  smai1pp     349179 non-null  int64
 55  smai2pp     349179 non-null  int64
 56  smai3pp     349179 non-null  int64
 57  smai4pp     349179 non-null  int64
 58  smai5pp     349179 non-null  int64
 59  geomlocmut  343333 non-null  object
 60  geomparmut  5603 non-null    object
 61  geompar     349051 non-null  object
 62  codtypbien  349179 non-null  int64
 63  libtypbien  349179 non-null  object
 64  idadresse   349179 non-null  int64
 65  novoie      346623 non-null  float64
 66  btq         15760 non-null   object
 67  typvoie     346369 non-null  object
 68  codvoie     346739 non-null  object
 69  voie        346658 non-null  object
 70  codepostal  346653 non-null  float64
 71  commune     349098 non-null  object
 72  idadrinvar  349179 non-null  object
 73  coddep_x    349179 non-null  int64
 74  iddispopar  349179 non-null  int64
 75  coddep_y    349179 non-null  int64
dtypes: float64(6), int64(49), object(21)
memory usage: 205.1+ MB

In [13]:
# table "lot" : table des lots (seuls les 5 premiers lots sont mentionn√©s)
lot_cerema=pd.read_csv("dvf_75lot.csv", sep=";")

In [14]:
lot_cerema.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695651 entries, 0 to 695650
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   iddispolot  695651 non-null  int64
 1   iddispopar  695651 non-null  int64
 2   idmutation  695651 non-null  int64
 3   iddispoloc  687355 non-null  float64
 4   nolot       695651 non-null  object
 5   scarrez     276856 non-null  float64
 6   coddep      695651 non-null  int64
dtypes: float64(2), int64(4), object(1)
memory usage: 37.2+ MB

In [15]:
lot_cerema.head()

   iddispolot  iddispopar  idmutation  iddispoloc nolot  scarrez  coddep
0     6217422    14267918     7845201   9248710.0    39    11.20      75
1     6217423    14281746     7854877   9265907.0    31      NaN      75
2     6217424    14255450     7823308   9207448.0    34      NaN      75
3     6217425    14270348     7831619   9223890.0    37    39.73      75
4     6217426    14268367     7831768   9224144.0   213     7.60      75

In [16]:
# Suppression des variables qui ne vont pas √™tre utiles
lot_cerema=lot_cerema.drop(["iddispopar", "iddispoloc", "coddep"], axis=1)

In [17]:
# Fusion des pr√©c√©dentes tables avec cette table lot, sur l'ID mutation
cerema=lot_cerema.merge(right=cerema0, on="idmutation")

In [18]:
cerema.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 769792 entries, 0 to 769791
Data columns (total 79 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   iddispolot  769792 non-null  int64
 1   idmutation  769792 non-null  int64
 2   nolot       769792 non-null  object
 3   scarrez     290998 non-null  float64
 4   idmutinvar  769792 non-null  object
 5   idopendata  769792 non-null  object
 6   idnatmut    769792 non-null  int64
 7   codservch   0 non-null       float64
 8   refdoc      0 non-null       float64
 9   datemut     769792 non-null  object
 10  anneemut    769792 non-null  int64
 11  moismut     769792 non-null  int64
 12  coddep      769792 non-null  int64
 13  libnatmut   769792 non-null  object
 14  nbartcgi    769792 non-null  int64
 15  l_artcgi    0 non-null       float64
 16  vefa        769792 non-null  object
 17  valeurfonc  763260 non-null  float64
 18  nbdispo     769792 non-null  int64
 19  nblot       769792 non-null  int64
 20  nbcomm      769792 non-null  int64
 21  l_codinsee  769792 non-null  object
 22  nbsection   769792 non-null  int64
 23  l_section   769792 non-null  object
 24  nbpar       769792 non-null  int64
 25  l_idpar     769792 non-null  object
 26  nbparmut    769792 non-null  int64
 27  l_idparmut  8471 non-null    object
 28  nbsuf       769792 non-null  int64
 29  sterr       769792 non-null  int64
 30  l_dcnt      769792 non-null  object
 31  nbvolmut    769792 non-null  int64
 32  nblocmut    769792 non-null  int64
 33  l_idlocmut  761111 non-null  object
 34  nblocmai    769792 non-null  int64
 35  nblocapt    769792 non-null  int64
 36  nblocdep    769792 non-null  int64
 37  nblocact    769792 non-null  int64
 38  nbapt1pp    769792 non-null  int64
 39  nbapt2pp    769792 non-null  int64
 40  nbapt3pp    769792 non-null  int64
 41  nbapt4pp    769792 non-null  int64
 42  nbapt5pp    769792 non-null  int64
 43  nbmai1pp    769792 non-null  int64
 44  nbmai2pp    769792 non-null  int64
 45  nbmai3pp    769792 non-null  int64
 46  nbmai4pp    769792 non-null  int64
 47  nbmai5pp    769792 non-null  int64
 48  sbati       769792 non-null  int64
 49  sbatmai     769792 non-null  int64
 50  sbatapt     769792 non-null  int64
 51  sbatact     769792 non-null  int64
 52  sapt1pp     769792 non-null  int64
 53  sapt2pp     769792 non-null  int64
 54  sapt3pp     769792 non-null  int64
 55  sapt4pp     769792 non-null  int64
 56  sapt5pp     769792 non-null  int64
 57  smai1pp     769792 non-null  int64
 58  smai2pp     769792 non-null  int64
 59  smai3pp     769792 non-null  int64
 60  smai4pp     769792 non-null  int64
 61  smai5pp     769792 non-null  int64
 62  geomlocmut  760821 non-null  object
 63  geomparmut  8471 non-null    object
 64  geompar     769402 non-null  object
 65  codtypbien  769792 non-null  int64
 66  libtypbien  769792 non-null  object
 67  idadresse   769792 non-null  int64
 68  novoie      765338 non-null  float64
 69  btq         38556 non-null   object
 70  typvoie     764838 non-null  object
 71  codvoie     765485 non-null  object
 72  voie        765334 non-null  object
 73  codepostal  765325 non-null  float64
 74  commune     769641 non-null  object
 75  idadrinvar  769792 non-null  object
 76  coddep_x    769792 non-null  int64
 77  iddispopar  769792 non-null  int64
 78  coddep_y    769792 non-null  int64
dtypes: float64(7), int64(50), object(22)
memory usage: 469.8+ MB

In [19]:
#Cr√©ation de la colonne "Etaban" dans  la DataFrame cerema (ce sera la cl√© de fusion avec le dataframe CSTB)
# Tuto : utilisation du document = BAN_DVF_BDND (1)

In [20]:
cerema["novoie"]=cerema["novoie"].astype(str)
cerema["novoie"]=cerema["novoie"].apply(lambda x : x[:-2])

In [21]:
cerema["novoie"]=cerema["novoie"].str.zfill(5)

In [22]:
cerema["l_codinsee"]=cerema["l_codinsee"].apply(lambda x : x.strip("{}"))

In [23]:
cerema["l_codinsee"]=cerema["l_codinsee"].astype("str")

In [24]:
cerema["l_codinsee"]=cerema["l_codinsee"].apply(lambda x : x.strip("'"))

In [25]:
cerema["codvoie"]=cerema["codvoie"].astype(str)

In [26]:
cerema["etaban"]=cerema["l_codinsee"] + "_" + cerema["codvoie"] + "_" + cerema["novoie"]

In [27]:
cerema["etaban"].head()

0    75120_9802_00009
1    75116_8029_00101
2    75116_8029_00101
3    75116_8029_00101
4    75116_8029_00101
Name: etaban, dtype: object

In [28]:
cerema["etaban"].nunique()

44964

In [29]:
# Chargement du dataset CSTB : https://www.data.gouv.fr/fr/datasets/base-de-donnee-nationale-des-batiments-version-0-6/
cstb=pd.read_csv("batiment.csv", sep=(";"))

C:\Users\Anne\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,100,102,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [30]:
cstb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72351 entries, 0 to 72350
Columns: 170 entries, geombui to osmgeo202103_l_id
dtypes: float64(77), int64(6), object(87)
memory usage: 93.8+ MB

In [31]:
# Ouverture parenth√®se dans le code : Pour contr√¥le d'o√π vient le nbre √©lev√© de Nan dans  NB5
cstb["anarnc202012_nb_log"].isna().sum()
# suite en fin de NB

29274

In [32]:
# Travail sur la colonne "etaban202111_l_id" de CSTB => Ce sera la cl√© de fusion avec le dataframe Cerema cr√©√© pr√©c√©demment

In [33]:
cstb["etaban202111_l_id"].nunique()

68224

In [34]:
cstb["etaban202111_l_id"].head()

0    (6:75101_8249_00107,75101_8249_00093,75101_380...
1     (3:75101_8249_00091,75101_0284_00008,75101_5825)
2                                 (1:75101_8249_00089)
3                                 (1:75101_8249_00087)
4                                 (1:75101_7279_00005)
Name: etaban202111_l_id, dtype: object

In [35]:
cstb["etaban202111_l_id"]=cstb["etaban202111_l_id"].astype("str")

In [36]:
cstb["etaban202111_l_id"]=cstb["etaban202111_l_id"].apply(lambda x : x.strip("()"))

In [37]:
cstb["etaban202111_l_id"]

0        6:75101_8249_00107,75101_8249_00093,75101_3806...
1           3:75101_8249_00091,75101_0284_00008,75101_5825
2                                       1:75101_8249_00089
3                                       1:75101_8249_00087
4                                       1:75101_7279_00005
                               ...
72346                                   1:75120_2010_00049
72347                                   1:75120_2010_00049
72348                                   1:75120_9049_00015
72349                                   1:75120_5669_00013
72350                                   1:75120_5669_00011
Name: etaban202111_l_id, Length: 72351, dtype: object

In [38]:
cstb["etaban202111_l_id"]=cstb["etaban202111_l_id"].apply(lambda x : x.strip(":")[2:])
cstb["etaban202111_l_id"]

0        75101_8249_00107,75101_8249_00093,75101_3806_0...
1             75101_8249_00091,75101_0284_00008,75101_5825
2                                         75101_8249_00089
3                                         75101_8249_00087
4                                         75101_7279_00005
                               ...
72346                                     75120_2010_00049
72347                                     75120_2010_00049
72348                                     75120_9049_00015
72349                                     75120_5669_00013
72350                                     75120_5669_00011
Name: etaban202111_l_id, Length: 72351, dtype: object

In [39]:
cstb["etaban202111_l_id"]=cstb["etaban202111_l_id"].str.split(",")

In [40]:
cstb=cstb.explode("etaban202111_l_id")

In [41]:
cstb["etaban202111_l_id"]

0        75101_8249_00107
0        75101_8249_00093
0        75101_3806_00006
0              75101_3806
0              75101_5824
               ...
72346    75120_2010_00049
72347    75120_2010_00049
72348    75120_9049_00015
72349    75120_5669_00013
72350    75120_5669_00011
Name: etaban202111_l_id, Length: 89418, dtype: object

In [42]:
cstb.rename(columns={"etaban202111_l_id":"etaban"}, inplace=True)

In [43]:
cstb["etaban"].tail(20)
# On note que certains Etaban ont un suffixe atypique (_b, _bs ). 
# Ces lignes seront supprim√©es au moment du merge avec Cerema => tr√®s peu de pertes constat√©e

72340     75120_9888_00054_b
72340    75120_9888_00052_bs
72341       75120_2135_00019
72341       75120_7160_00003
72342       75120_8503_00052
72342       75120_2135_00021
72342       75120_8789_00014
72342       75120_8789_00012
72342       75120_8789_00004
72342       75120_7160_00004
72342       75120_8789_00006
72343       75120_8503_00050
72344       75120_1506_00034
72345       75120_5395_00013
72345       75120_5395_00011
72346       75120_2010_00049
72347       75120_2010_00049
72348       75120_9049_00015
72349       75120_5669_00013
72350       75120_5669_00011
Name: etaban, dtype: object

In [44]:
# S√©lection des appartements dans Cerema

# http://doc-datafoncier.cerema.fr/dv3f/doc/variable/mutation/libtypbien
# 75 % des mutations sont des cat√©gories "un appartement"
# 95 % des mutations d'appartement sont de la cat√©gorie "un appartement"
# d'o√π le choix de ne garder que la cat√©gorie "un appartement 

cerema_appt=cerema[cerema["libtypbien"]=="UN APPARTEMENT"]

In [45]:
# Choix de ne garder que ventes et vefa dans : http://doc-datafoncier.cerema.fr/dv3f/doc/variable/mutation/idnatmut
# On exclut : Expropriation,Vente terrain √† b√¢tir,Adjuvication,Echange

cerema_appt_ventes_vefa=cerema_appt[(cerema_appt["idnatmut"]==1)|(cerema_appt["idnatmut"]==2)]

In [46]:
# S√©lection des T2, T3  dans cerema_appt_ventes_vefa
cerema_appt_ventes_vefa["nbapt2pp"].unique()

array([0, 1], dtype=int64)

In [47]:
cerema_select=cerema_appt_ventes_vefa[(cerema_appt_ventes_vefa["nbapt2pp"]==True)|(cerema_appt_ventes_vefa["nbapt3pp"]==True)]

In [48]:
# Fusion des DataFrame Cerema et CSTB
merged=cstb.merge(cerema_select, on="etaban")

In [49]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317757 entries, 0 to 317756
Columns: 249 entries, geombui to coddep_y
dtypes: float64(83), int64(56), object(110)
memory usage: 606.1+ MB

In [50]:
# Fermeture parenth√®se pour NB 5:
merged["anarnc202012_nb_log"].isna().sum()
# => ok

28027

In [51]:
merged.to_csv(r"C:\Users\Anne\Projet B√¢timent\210622\merged.csv", index=False)