In [1]:
import pandas as pd
import numpy as np

In [2]:
df_final=pd.read_csv("df_final.csv")

C:\Users\Anne\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (45,171,194,229) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_final.head()

,geombui,bnb_id,bnb_l_geombui_id,bnb_matching_type,bnb_optim_status,bnb_sfce_geombat_m2,bnb_altitude_sol,insee_code_commune,insee_code_dept,insee_code_dept_num,...,codvoie,voie,codepostal,commune,idadrinvar,coddep_x,coddep_y,etaban_lot,qty_of_mut,y
0,"MULTIPOLYGON (((651611.7 6862718.0,651608.4 68...",75101000AS0007_dfbe38a28e3f986,(1:BATIMENT0000000245185276-6),sp-n.1,NaN,2154.0,36.0,75101,75,75,...,4901,JEAN JACQUES ROUSSEAU,75001.0,PARIS 01,19$$4901$RUE$JEAN JACQUES ROUSSEAU$75001$PARIS 01,75,75,75101_4901_00019_93,1,0
1,"MULTIPOLYGON (((654258.8 6861954.8,654248.9 68...",75111000BY0083_e91b43387c313a2,"(9:BATIMENT0000000240744834-1,BATIMENT00000002...",sp-n.m,INFEASIBLE,NaN,31.0,75111,75,75,...,1383,BULLOURDE,75011.0,PARIS 11,5$$1383$PAS$BULLOURDE$75011$PARIS 11,75,75,75111_1383_00005_8057,1,0
2,"MULTIPOLYGON (((650008.0 6865729.8,650017.3 68...",75117000CS0043_cdbf517e1853ed4,(1:BATIMENT0000000245175364-2),sp-1.1,NaN,244.0,41.0,75117,75,75,...,5503,LEMERCIER,75017.0,PARIS 17,103$$5503$RUE$LEMERCIER$75017$PARIS 17,75,75,75117_5503_00103_24,1,0
3,"MULTIPOLYGON (((649673.9 6860532.3,649680.1 68...",75115000CS0060_e2adb0db8c7947a,(1:BATIMENT0000000241921094-1),sp-1.m,NaN,158.0,47.0,75115,75,75,...,2521,DALOU,75015.0,PARIS 15,8$$2521$RUE$DALOU$75015$PARIS 15,75,75,75115_2521_00008_19,1,0
4,"MULTIPOLYGON (((650929.7 6865171.0,650939.1 68...",75118000AQ0016_a54663fbbbc7683,(1:BATIMENT0000000245203979-1),sp-1.1,NaN,364.0,70.0,75118,75,75,...,2113,DE CLICHY,75018.0,PARIS 18,110$$2113$BD$DE CLICHY$75018$PARIS 18,75,75,75118_2113_00110_19,2,1

In [4]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114072 entries, 0 to 114071
Columns: 247 entries, geombui to y
dtypes: float64(86), int64(59), object(102)
memory usage: 215.0+ MB

In [5]:
# Réduction du DataFrame à une sélection de variables CSTB + Cerema + variable cible "y" 
# + variables créées précédemment : "etaban_lot" + "qty_of_mut"
# Voir colonnne n°1 du tableau Excel : "Travail_variables"

df_selec=df_final[["idmutation",
                   "etaban_lot",
                   "qty_of_mut",
                   "y",
                   "idnatmut",
                   "datemut",
                   "anneemut",
                   "moismut",
                   "libnatmut",
                   "vefa",
                   "valeurfonc",
                   "nblot",
                   "nbcomm",
                   "l_codinsee",
                   "nblocapt",
                   "nblocdep",
                   "nbapt2pp",
                   "nbapt3pp",
                   "sbati",
                   "sbatapt",
                   "sbatact",
                   "sapt2pp",
                   "sapt3pp",
                   "scarrez",
                   "nolot",
"adedpe202006_logtype_periode_construction",
"anarnc202012_nb_log",
"anarnc202012_nb_lot_garpark",
"anarnc202012_nb_lot_tertiaire",
"anarnc202012_nb_lot_tot",
"etaban202111_label",
"mcumer202007_id",
"adedpe202006_logtype_baie_orientation",
"adedpe202006_logtype_baie_type_vitrage",
"adedpe202006_logtype_ch_gen_lib_princ",
"adedpe202006_logtype_classe_conso_ener",
"adedpe202006_logtype_classe_estim_ges",
"adedpe202006_logtype_traversant",
"adedpe202006_logtype_ecs_type_ener",
"adedpe202006_logtype_enr",
"adedpe202006_logtype_perc_surf_vitree_ext",
"adedpe202006_logtype_ph_pos_isol",
"adedpe202006_logtype_presence_balcon",
"adedpe202006_logtype_presence_climatisation",
"adedpe202006_logtype_type_batiment",
"ancqpv201410_is_qpv",
"arcthd2021t1_l_bat_type",
"cerffo2020_annee_construction",
"cerffo2020_usage_niveau_1_txt",
"cerffo2020_nb_log",
"geoarg2020_alea",
"georad2020_alea",
"igntop202103_bat_hauteur",
"insbpe2019_l_type_equipement",
"mcumer202007_dist500min",
"mcumer202007_is_mer",
"adedpe202006_logtype_s_hab"]]

In [6]:
df_selec.head()

,idmutation,etaban_lot,qty_of_mut,y,idnatmut,datemut,anneemut,moismut,libnatmut,vefa,...,cerffo2020_annee_construction,cerffo2020_usage_niveau_1_txt,cerffo2020_nb_log,geoarg2020_alea,georad2020_alea,igntop202103_bat_hauteur,insbpe2019_l_type_equipement,mcumer202007_dist500min,mcumer202007_is_mer,adedpe202006_logtype_s_hab
0,7819809,75101_4901_00019_93,1,0,1,2021-06-04,2021,6,Vente,f,...,1820.0,Résidentiel collectif,100,NaN,Faible,20.2,"(7:Agence immobilière,Magasin d'équipements du...",465.0,1.0,75.0
1,7819819,75111_1383_00005_8057,1,0,1,2021-11-25,2021,11,Vente,f,...,1978.0,Résidentiel collectif,626,NaN,Faible,35.0,"(11:Menuisier, charpentier, serrurier,Pressing...",51.0,1.0,24.0
2,7819821,75117_5503_00103_24,1,0,1,2021-03-18,2021,3,Vente,f,...,1910.0,Résidentiel collectif,32,NaN,Faible,18.8,NaN,407.0,1.0,36.0
3,7819822,75115_2521_00008_19,1,0,1,2021-11-12,2021,11,Vente,f,...,1880.0,Résidentiel collectif,16,NaN,Faible,18.0,NaN,78.0,1.0,49.0
4,7819824,75118_2113_00110_19,2,1,1,2021-01-08,2021,1,Vente,f,...,1900.0,Résidentiel collectif,38,NaN,Faible,18.9,(1:Restaurant - Restauration rapide),427.0,1.0,100.0

In [7]:
df_selec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114072 entries, 0 to 114071
Data columns (total 57 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   idmutation                                   114072 non-null  int64
 1   etaban_lot                                   114072 non-null  object
 2   qty_of_mut                                   114072 non-null  int64
 3   y                                            114072 non-null  int64
 4   idnatmut                                     114072 non-null  int64
 5   datemut                                      114072 non-null  object
 6   anneemut                                     114072 non-null  int64
 7   moismut                                      114072 non-null  int64
 8   libnatmut                                    114072 non-null  object
 9   vefa                                         114072 non-null  object
 10  valeurfonc                                   114033 non-null  float64
 11  nblot                                        114072 non-null  int64
 12  nbcomm                                       114072 non-null  int64
 13  l_codinsee                                   114072 non-null  int64
 14  nblocapt                                     114072 non-null  int64
 15  nblocdep                                     114072 non-null  int64
 16  nbapt2pp                                     114072 non-null  int64
 17  nbapt3pp                                     114072 non-null  int64
 18  sbati                                        114072 non-null  int64
 19  sbatapt                                      114072 non-null  int64
 20  sbatact                                      114072 non-null  int64
 21  sapt2pp                                      114072 non-null  int64
 22  sapt3pp                                      114072 non-null  int64
 23  scarrez                                      114072 non-null  float64
 24  nolot                                        114072 non-null  object
 25  adedpe202006_logtype_periode_construction    107820 non-null  object
 26  anarnc202012_nb_log                          105340 non-null  float64
 27  anarnc202012_nb_lot_garpark                  105340 non-null  float64
 28  anarnc202012_nb_lot_tertiaire                105340 non-null  float64
 29  anarnc202012_nb_lot_tot                      105340 non-null  float64
 30  etaban202111_label                           114072 non-null  object
 31  mcumer202007_id                              107993 non-null  object
 32  adedpe202006_logtype_baie_orientation        93490 non-null   object
 33  adedpe202006_logtype_baie_type_vitrage       106602 non-null  object
 34  adedpe202006_logtype_ch_gen_lib_princ        107050 non-null  object
 35  adedpe202006_logtype_classe_conso_ener       107820 non-null  object
 36  adedpe202006_logtype_classe_estim_ges        107820 non-null  object
 37  adedpe202006_logtype_traversant              93490 non-null   object
 38  adedpe202006_logtype_ecs_type_ener           105833 non-null  object
 39  adedpe202006_logtype_enr                     36 non-null      object
 40  adedpe202006_logtype_perc_surf_vitree_ext    18372 non-null   float64
 41  adedpe202006_logtype_ph_pos_isol             81449 non-null   object
 42  adedpe202006_logtype_presence_balcon         20109 non-null   float64
 43  adedpe202006_logtype_presence_climatisation  107820 non-null  float64
 44  adedpe202006_logtype_type_batiment           107820 non-null  object
 45  ancqpv201410_is_qpv                          113819 non-null  float64
 46  arcthd2021t1_l_bat_type                      89037 non-null   object
 47  cerffo2020_annee_construction                103191 non-null  float64
 48  cerffo2020_usage_niveau_1_txt                114072 non-null  object
 49  cerffo2020_nb_log                            114072 non-null  int64
 50  geoarg2020_alea                              0 non-null       float64
 51  georad2020_alea                              113819 non-null  object
 52  igntop202103_bat_hauteur                     113804 non-null  float64
 53  insbpe2019_l_type_equipement                 72948 non-null   object
 54  mcumer202007_dist500min                      107993 non-null  float64
 55  mcumer202007_is_mer                          113819 non-null  float64
 56  adedpe202006_logtype_s_hab                   107644 non-null  float64
dtypes: float64(16), int64(19), object(22)
memory usage: 49.6+ MB

In [8]:
# Suppression de la variable "qty_of_mut" pq quand au lancement des modèles de classification, elle prend le pas sur toutes les autres
# et du coup aucun faux négatif, ni faux positifs ne sortent. Tous les scores = 1

df_selec=df_selec.drop("qty_of_mut", axis=1)

In [9]:
# Variable "adedpe202006_logtype_enr" => Energies renouvelables présentes dans le bâtiment
df_selec["adedpe202006_logtype_enr"].unique()

array([nan, 'solaire photovoltaique', 'solaire thermique (ecs)'],
      dtype=object)

In [10]:
df_selec["adedpe202006_logtype_enr"].value_counts()

solaire thermique (ecs)    31
solaire photovoltaique      5
Name: adedpe202006_logtype_enr, dtype: int64

In [11]:
# Seulement 36 lignes pour lesquelles la variable est renseignée. 
# Le reste est Nan  mais on peut supposer que ce ne sont pas des vraies Nan 
# Ca peut plutôt signifier l'absence d'énergies renouvelables dans le bâtiment

def filtre (x):
    if x =="solaire thermique (ecs)" :
        return 1
    elif x =="solaire photovoltaique" :
        return 1
    else : 
        return 0
    
df_selec["adedpe202006_logtype_enr"]=df_selec["adedpe202006_logtype_enr"].apply(filtre)

In [12]:
df_selec["adedpe202006_logtype_enr"].value_counts()

0    114036
1        36
Name: adedpe202006_logtype_enr, dtype: int64

In [13]:
df_selec["cerffo2020_usage_niveau_1_txt"].value_counts()

Résidentiel collectif     110539
Tertiaire & Autres          2882
Résidentiel individuel       445
Dépendance                   199
Secondaire                     7
Name: cerffo2020_usage_niveau_1_txt, dtype: int64

In [14]:
# Regroupement des dépendances et secondaires en autres sinon plantage en get dummies

df_selec["cerffo2020_usage_niveau_1_txt"]=df_selec["cerffo2020_usage_niveau_1_txt"].replace({"Dépendance":"Autres", "Secondaire":"Autres"})

In [15]:
df_selec["cerffo2020_usage_niveau_1_txt"].value_counts()

Résidentiel collectif     110539
Tertiaire & Autres          2882
Résidentiel individuel       445
Autres                       206
Name: cerffo2020_usage_niveau_1_txt, dtype: int64

In [16]:
# Les variables qui concernent les dates ne vont pas passer en get_dummies. Je les supprime à ce stade 
# quitte à les réintégrer plus tard 
df_selec=df_selec.drop("datemut", axis=1)
df_selec=df_selec.drop("anneemut", axis=1)
df_selec=df_selec.drop("moismut", axis=1)

In [17]:
df_selec["libnatmut"].unique()

array(['Vente', "Vente en l'état futur d'achèvement"], dtype=object)

In [18]:
df_selec["vefa"].unique()

array(['f', 't'], dtype=object)

In [19]:
#La variable "nolot" n'est plus utile. Elle a été fusionnée avec etaban dans etaban_lot dans df_final["nolot"]

df_selec=df_selec.drop("nolot", axis=1)

In [20]:
# Je supprime aussi la variable etaban_lot qui va poser problème au moment du get_dummies. 

df_selec=df_selec.drop("etaban_lot", axis=1)

In [21]:
df_selec["adedpe202006_logtype_periode_construction"].isna().sum()

6252

In [22]:
df_selec["adedpe202006_logtype_periode_construction"].unique()

array(['<1948', 'bad inf', '1970-1988', nan, '1949-1970', '2000-2005',
       '1989-1999', '2006-2012', '>2012', 'bad sup'], dtype=object)

In [23]:
df_selec["cerffo2020_annee_construction"].isna().sum()

10881

In [24]:
#Comme année de construction possède bcp moins de na, on ne va garder que cette variable mais on va la discrétiser
df_selec["cerffo2020_annee_construction"]=pd.cut(x=df_selec["cerffo2020_annee_construction"], bins=[0,1948,1970,1989,2000,2005,2012, 2022], labels=["<1948", "1949-1970", "1970-1988", "1989-1999", "2000-2005", "2005-2012", ">2012"])
df_selec["cerffo2020_annee_construction"].unique()

['<1948', '1970-1988', NaN, '2005-2012', '>2012', '2000-2005', '1949-1970', '1989-1999']
Categories (7, object): ['<1948' < '1949-1970' < '1970-1988' < '1989-1999' < '2000-2005' < '2005-2012' < '>2012']

In [25]:
#suppression de la variable " adedpe202006_logtype_periode_construction "

df_selec.drop("adedpe202006_logtype_periode_construction", axis=1, inplace=True)

In [26]:
df_selec["adedpe202006_logtype_baie_orientation"]

0               (1:sud)
1             (1:ouest)
2              (1:nord)
3              (1:nord)
4              (1:nord)
              ...
114067    (2:ouest,sud)
114068         (1:nord)
114069         (1:nord)
114070         (1:nord)
114071     (2:nord,sud)
Name: adedpe202006_logtype_baie_orientation, Length: 114072, dtype: object

In [27]:
# Simplification des valeurs de la variable "adedpe202006_logtype_baie_orientation" => 
# sa multitude de valeurs créé des différence de nombre de colonnes entre X train et X test après get dummies

df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].astype(str)

In [28]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(lambda x : x.strip("()"))
df_selec["adedpe202006_logtype_baie_orientation"]

0               1:sud
1             1:ouest
2              1:nord
3              1:nord
4              1:nord
             ...
114067    2:ouest,sud
114068         1:nord
114069         1:nord
114070         1:nord
114071     2:nord,sud
Name: adedpe202006_logtype_baie_orientation, Length: 114072, dtype: object

In [29]:
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['1:sud', '1:ouest', '1:nord', '2:nord,sud', 'nan', '1:est',
       '2:est,ouest', '2:nord,ouest', '3:nord,ouest,sud', '2:est,nord',
       '3:est,nord,sud', '4:est,nord,ouest,sud', '3:est,ouest,sud',
       '2:ouest,sud', '2:est,sud', '3:est,nord,ouest',
       '2:est ou ouest,nord', '1:horizontale', '2:est ou ouest,sud',
       '3:est,est ou ouest,sud', '2:est,est ou ouest',
       '3:est,indetermine,nord', '2:est,indetermine',
       '3:est,est ou ouest,nord', '3:est ou ouest,nord,sud',
       '3:indetermine,nord,sud', '4:est,indetermine,ouest,sud',
       '3:horizontale,nord,sud', '1:est ou ouest',
       '2:est ou ouest,horizontale', '3:est,indetermine,ouest',
       '5:est,horizontale,nord,ouest,sud', '2:indetermine,ouest',
       '4:horizontale,nord,ouest,sud', '4:est,est ou ouest,nord,sud',
       '4:est,horizontale,nord,sud', '5:est,indetermine,nord,ouest,sud',
       '2:indetermine,sud'], dtype=object)

In [30]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(lambda x : x[2:])
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['sud', 'ouest', 'nord', 'nord,sud', 'n', 'est', 'est,ouest',
       'nord,ouest', 'nord,ouest,sud', 'est,nord', 'est,nord,sud',
       'est,nord,ouest,sud', 'est,ouest,sud', 'ouest,sud', 'est,sud',
       'est,nord,ouest', 'est ou ouest,nord', 'horizontale',
       'est ou ouest,sud', 'est,est ou ouest,sud', 'est,est ou ouest',
       'est,indetermine,nord', 'est,indetermine', 'est,est ou ouest,nord',
       'est ou ouest,nord,sud', 'indetermine,nord,sud',
       'est,indetermine,ouest,sud', 'horizontale,nord,sud',
       'est ou ouest', 'est ou ouest,horizontale',
       'est,indetermine,ouest', 'est,horizontale,nord,ouest,sud',
       'indetermine,ouest', 'horizontale,nord,ouest,sud',
       'est,est ou ouest,nord,sud', 'est,horizontale,nord,sud',
       'est,indetermine,nord,ouest,sud', 'indetermine,sud'], dtype=object)

In [31]:
df_selec["adedpe202006_logtype_baie_orientation"]=df_selec["adedpe202006_logtype_baie_orientation"].replace({"n": "Nan"})
df_selec["adedpe202006_logtype_baie_orientation"].unique()

array(['sud', 'ouest', 'nord', 'nord,sud', 'Nan', 'est', 'est,ouest',
       'nord,ouest', 'nord,ouest,sud', 'est,nord', 'est,nord,sud',
       'est,nord,ouest,sud', 'est,ouest,sud', 'ouest,sud', 'est,sud',
       'est,nord,ouest', 'est ou ouest,nord', 'horizontale',
       'est ou ouest,sud', 'est,est ou ouest,sud', 'est,est ou ouest',
       'est,indetermine,nord', 'est,indetermine', 'est,est ou ouest,nord',
       'est ou ouest,nord,sud', 'indetermine,nord,sud',
       'est,indetermine,ouest,sud', 'horizontale,nord,sud',
       'est ou ouest', 'est ou ouest,horizontale',
       'est,indetermine,ouest', 'est,horizontale,nord,ouest,sud',
       'indetermine,ouest', 'horizontale,nord,ouest,sud',
       'est,est ou ouest,nord,sud', 'est,horizontale,nord,sud',
       'est,indetermine,nord,ouest,sud', 'indetermine,sud'], dtype=object)

In [32]:
df_selec["adedpe202006_logtype_baie_orientation"].value_counts()

nord                              58715
Nan                               20582
est                                7259
nord,sud                           6602
sud                                4800
est,ouest                          3738
ouest                              3566
est,nord,sud                       1124
est,ouest,sud                      1049
ouest,sud                          1013
nord,ouest                         1007
est,sud                             995
est,nord                            914
est,nord,ouest,sud                  824
est,nord,ouest                      821
nord,ouest,sud                      793
horizontale                          59
est ou ouest,nord                    38
est,est ou ouest                     38
est ou ouest,nord,sud                30
est ou ouest,sud                     20
est,est ou ouest,sud                 17
est,indetermine                      16
indetermine,nord,sud                 11
est ou ouest                         11
est,est ou ouest,nord                 5
est,indetermine,nord                  4
est,indetermine,ouest,sud             3
horizontale,nord,sud                  3
est,horizontale,nord,ouest,sud        3
indetermine,ouest                     3
est,indetermine,nord,ouest,sud        3
est ou ouest,horizontale              1
est,indetermine,ouest                 1
horizontale,nord,ouest,sud            1
est,est ou ouest,nord,sud             1
est,horizontale,nord,sud              1
indetermine,sud                       1
Name: adedpe202006_logtype_baie_orientation, dtype: int64

In [33]:
def filtre_sud(x) :
    if "sud" in x :
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_sud"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_sud)

In [34]:
df_selec["baie_orientation_sud"].value_counts()

0    96778
1    17294
Name: baie_orientation_sud, dtype: int64

In [35]:
def filtre_nord(x) :
    if "nord" in x :
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_nord"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_nord)

In [36]:
df_selec["baie_orientation_nord"].value_counts()

1    70900
0    43172
Name: baie_orientation_nord, dtype: int64

In [37]:
def filtre_ouest(x) :
    if "ouest" in x :
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_ouest"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_ouest)

In [38]:
df_selec["baie_orientation_ouest"].value_counts()

0    101086
1     12986
Name: baie_orientation_ouest, dtype: int64

In [39]:
def filtre_est(x) :
    if x.startswith("est") :
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_est"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_est)

In [40]:
df_selec["baie_orientation_est"].value_counts()

0    97156
1    16916
Name: baie_orientation_est, dtype: int64

In [41]:
def filtre_autre(x) :
    if "indetermine" in x:
        return 1
    elif "horizontale" in x:
        return 1
    else : 
        return 0
    
df_selec["baie_orientation_autre"]=df_selec["adedpe202006_logtype_baie_orientation"].apply(filtre_autre)

In [42]:
df_selec["baie_orientation_autre"].value_counts()

0    113962
1       110
Name: baie_orientation_autre, dtype: int64

In [43]:
# suppression de la variable df_selec["adedpe202006_logtype_baie_orientation"]

df_selec=df_selec.drop("adedpe202006_logtype_baie_orientation", axis=1)

In [44]:
# Simplification des valeurs de la variable "adedpe202006_logtype_ch_gen_lib_princ" => 
# sa multitude de valeurs créé des différence de nombre de colonnes entre X train et X test après get dummies

df_selec["adedpe202006_logtype_ch_gen_lib_princ"].value_counts()

generateurs a effet joule                          53279
chaudiere gaz standard                             33823
reseau de chaleur                                   7131
chaudiere gaz basse temperature                     3901
chaudiere gaz condensation                          2886
chaudiere fioul standard                            2550
chaudiere electrique                                 938
pac air/air                                          749
pac indetermine                                      494
chaudiere energie indetermine standard               319
radiateurs gaz                                       226
chaudiere fioul basse temperature                    214
chaudiere energie indetermine indetermine            208
chauffage autre indetermine                           79
pac air/eau                                           72
chaudiere energie indetermine basse temperature       57
chaudiere fioul condensation                          32
chaudiere bois                                        29
chaudiere energie indetermine condensation            26
pac eau/eau                                           16
pac geothermique                                       6
poele ou insert bois                                   4
chaudiere gpl/butane/propane standard                  4
poele ou insert charbon                                3
chaudiere charbon standard                             2
poele ou insert indetermine                            1
chauffage solaire                                      1
Name: adedpe202006_logtype_ch_gen_lib_princ, dtype: int64

In [45]:
# Regroupement des occurences 

liste_equipement =["chaudiere bois",
                   "chaudiere energie indetermine condensation",
                   "pac eau/eau",
                   "pac geothermique",
                   "poele ou insert bois",
                   "chaudiere gpl/butane/propane standard",
                   "poele ou insert charbon",
                   "chaudiere charbon standard",
                   "poele ou insert indetermine",
                   "chauffage solaire"]

def filtre_autre_equipement (x) :
    if x in  liste_equipement :
        return "autres"
    else :
        return x
        
df_selec["adedpe202006_logtype_ch_gen_lib_princ"]=df_selec["adedpe202006_logtype_ch_gen_lib_princ"].apply(filtre_autre_equipement)
df_selec["adedpe202006_logtype_ch_gen_lib_princ"].value_counts()

generateurs a effet joule                          53279
chaudiere gaz standard                             33823
reseau de chaleur                                   7131
chaudiere gaz basse temperature                     3901
chaudiere gaz condensation                          2886
chaudiere fioul standard                            2550
chaudiere electrique                                 938
pac air/air                                          749
pac indetermine                                      494
chaudiere energie indetermine standard               319
radiateurs gaz                                       226
chaudiere fioul basse temperature                    214
chaudiere energie indetermine indetermine            208
autres                                                92
chauffage autre indetermine                           79
pac air/eau                                           72
chaudiere energie indetermine basse temperature       57
chaudiere fioul condensation                          32
Name: adedpe202006_logtype_ch_gen_lib_princ, dtype: int64

In [46]:
# Simplification des valeurs de la variable "adedpe202006_logtype_ecs_type_ener" => 
# sa multitude de valeurs créé des différences de nombre de colonnes entre X train et X test après get dummies.
df_selec["adedpe202006_logtype_ecs_type_ener"].value_counts()

electricite                                                    58681
gaz                                                            38182
reseau de chaleur                                               6348
fioul                                                           1996
ecs thermodynamique electrique(pac ou ballon)                    320
bois                                                             141
ecs thermodynamique electrique(pac ou ballon) + gaz               65
bois + reseau de chaleur                                          46
electricite + gaz                                                 15
bois + gaz                                                        13
ecs thermodynamique electrique(pac ou ballon) + electricite        9
bois + ecs thermodynamique electrique(pac ou ballon) + gaz         5
autre                                                              4
gpl/butane/propane                                                 4
charbon + gaz                                                      3
electricite + reseau de chaleur                                    1
Name: adedpe202006_logtype_ecs_type_ener, dtype: int64

In [47]:
# Regroupement des occurences 

liste_equipement =["ecs thermodynamique electrique(pac ou ballon)",
                   "bois",
                   "ecs thermodynamique electrique(pac ou ballon) + gaz",
                   "bois + reseau de chaleur",
                   "electricite + gaz",
                   "bois + gaz",
                   "ecs thermodynamique electrique(pac ou ballon) + electricite",
                   "bois + ecs thermodynamique electrique(pac ou ballon) + gaz",
                   "autre",
                   "gpl/butane/propane",
                   "charbon + gaz",
                   "electricite + reseau de chaleur"]

def filtre_autre_equipement (x) :
    if x in  liste_equipement :
        return "autres"
    else :
        return x
        
df_selec["adedpe202006_logtype_ecs_type_ener"]=df_selec["adedpe202006_logtype_ecs_type_ener"].apply(filtre_autre_equipement)
df_selec["adedpe202006_logtype_ecs_type_ener"].value_counts()

electricite          58681
gaz                  38182
reseau de chaleur     6348
fioul                 1996
autres                 626
Name: adedpe202006_logtype_ecs_type_ener, dtype: int64

In [48]:
# Variable "arcthd2021t1_l_bat_type" => (arcep) Type de construction du bâtiment

df_selec["arcthd2021t1_l_bat_type"].value_counts()

{immeuble}                                                                                                                                                                                        79933
{immeuble,immeuble}                                                                                                                                                                                4010
{immeuble,pavillon}                                                                                                                                                                                2044
{immeuble,immeuble,immeuble}                                                                                                                                                                        814
{pavillon}                                                                                                                                                                                          762
{immeuble,immeuble,immeuble,immeuble}                                                                                                                                                               277
{pavillon,immeuble}                                                                                                                                                                                 230
{immeuble,pavillon,immeuble}                                                                                                                                                                        112
{immeuble,immeuble,pavillon}                                                                                                                                                                        111
{immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                                                       87
{immeuble,pavillon,immeuble,immeuble,immeuble}                                                                                                                                                       78
{immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble,immeuble}                                                                                                                            61
{immeuble,immeuble,pavillon,immeuble}                                                                                                                                                                57
{immeuble,immeuble,immeuble,pavillon,immeuble,immeuble,immeuble}                                                                                                                                     52
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                                              41
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                                     40
{immeuble,immeuble,immeuble,pavillon}                                                                                                                                                                40
{immeuble,immeuble,immeuble,immeuble,pavillon}                                                                                                                                                       39
{pavillon,pavillon,immeuble,pavillon}                                                                                                                                                                29
{pavillon,immeuble,pavillon,pavillon}                                                                                                                                                                27
{immeuble,immeuble,immeuble,immeuble,immeuble,pavillon}                                                                                                                                              26
{pavillon,immeuble,pavillon}                                                                                                                                                                         26
{immeuble,immeuble,immeuble,immeuble,pavillon,pavillon}                                                                                                                                              16
{immeuble,pavillon,immeuble,immeuble}                                                                                                                                                                14
{pavillon,immeuble,immeuble}                                                                                                                                                                         13
{pavillon,immeuble,pavillon,immeuble,immeuble,immeuble}                                                                                                                                              11
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                            10
{immeuble,immeuble,pavillon,immeuble,immeuble}                                                                                                                                                        9
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble,pavillon,immeuble,immeuble,immeuble,pavillon,immeuble,immeuble}                 9
{immeuble,immeuble,immeuble,pavillon,pavillon}                                                                                                                                                        8
{pavillon,pavillon}                                                                                                                                                                                   8
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                  6
{immeuble,pavillon,immeuble,immeuble,immeuble,pavillon}                                                                                                                                               6
{immeuble,immeuble,pavillon,immeuble,immeuble,pavillon,immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble,pavillon,immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble}        5
{immeuble,pavillon,pavillon,immeuble}                                                                                                                                                                 4
{immeuble,immeuble,immeuble,pavillon,immeuble}                                                                                                                                                        4
{immeuble,pavillon,pavillon,immeuble,immeuble}                                                                                                                                                        4
{pavillon,immeuble,pavillon,immeuble}                                                                                                                                                                 4
{immeuble,pavillon,pavillon}                                                                                                                                                                          2
{immeuble,pavillon,immeuble,pavillon}                                                                                                                                                                 2
{immeuble,immeuble,immeuble,pavillon,immeuble,immeuble}                                                                                                                                               2
{immeuble,immeuble,immeuble,immeuble,pavillon,immeuble}                                                                                                                                               1
{immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble,immeuble}                                                                                                                    1
{immeuble,immeuble,immeuble,immeuble,immeuble,pavillon,immeuble,immeuble,pavillon,immeuble}                                                                                                           1
{pavillon,immeuble,immeuble,pavillon}                                                                                                                                                                 1
Name: arcthd2021t1_l_bat_type, dtype: int64

In [49]:
# On supprime cette variable pq on ne s'intéresse qu'aux bâtiments en copropriété 

df_selec=df_selec.drop("arcthd2021t1_l_bat_type", axis=1)

In [50]:
numeric_columns=df_selec.select_dtypes(include=np.number).columns.tolist()
numeric_columns

['idmutation',
 'y',
 'idnatmut',
 'valeurfonc',
 'nblot',
 'nbcomm',
 'l_codinsee',
 'nblocapt',
 'nblocdep',
 'nbapt2pp',
 'nbapt3pp',
 'sbati',
 'sbatapt',
 'sbatact',
 'sapt2pp',
 'sapt3pp',
 'scarrez',
 'anarnc202012_nb_log',
 'anarnc202012_nb_lot_garpark',
 'anarnc202012_nb_lot_tertiaire',
 'anarnc202012_nb_lot_tot',
 'adedpe202006_logtype_enr',
 'adedpe202006_logtype_perc_surf_vitree_ext',
 'adedpe202006_logtype_presence_balcon',
 'adedpe202006_logtype_presence_climatisation',
 'ancqpv201410_is_qpv',
 'cerffo2020_nb_log',
 'geoarg2020_alea',
 'igntop202103_bat_hauteur',
 'mcumer202007_dist500min',
 'mcumer202007_is_mer',
 'adedpe202006_logtype_s_hab',
 'baie_orientation_sud',
 'baie_orientation_nord',
 'baie_orientation_ouest',
 'baie_orientation_est',
 'baie_orientation_autre']

In [51]:
numeric_columns

['idmutation',
 'y',
 'idnatmut',
 'valeurfonc',
 'nblot',
 'nbcomm',
 'l_codinsee',
 'nblocapt',
 'nblocdep',
 'nbapt2pp',
 'nbapt3pp',
 'sbati',
 'sbatapt',
 'sbatact',
 'sapt2pp',
 'sapt3pp',
 'scarrez',
 'anarnc202012_nb_log',
 'anarnc202012_nb_lot_garpark',
 'anarnc202012_nb_lot_tertiaire',
 'anarnc202012_nb_lot_tot',
 'adedpe202006_logtype_enr',
 'adedpe202006_logtype_perc_surf_vitree_ext',
 'adedpe202006_logtype_presence_balcon',
 'adedpe202006_logtype_presence_climatisation',
 'ancqpv201410_is_qpv',
 'cerffo2020_nb_log',
 'geoarg2020_alea',
 'igntop202103_bat_hauteur',
 'mcumer202007_dist500min',
 'mcumer202007_is_mer',
 'adedpe202006_logtype_s_hab',
 'baie_orientation_sud',
 'baie_orientation_nord',
 'baie_orientation_ouest',
 'baie_orientation_est',
 'baie_orientation_autre']

In [52]:
object_columns=df_selec.select_dtypes(include='object').columns.tolist()
object_columns

['libnatmut',
 'vefa',
 'etaban202111_label',
 'mcumer202007_id',
 'adedpe202006_logtype_baie_type_vitrage',
 'adedpe202006_logtype_ch_gen_lib_princ',
 'adedpe202006_logtype_classe_conso_ener',
 'adedpe202006_logtype_classe_estim_ges',
 'adedpe202006_logtype_traversant',
 'adedpe202006_logtype_ecs_type_ener',
 'adedpe202006_logtype_ph_pos_isol',
 'adedpe202006_logtype_type_batiment',
 'cerffo2020_usage_niveau_1_txt',
 'georad2020_alea',
 'insbpe2019_l_type_equipement']

In [53]:
for col in df_selec[object_columns]:
    print(df_selec[col].nunique())

2
2
29281
1739
5
18
8
8
9
5
5
5
4
1
5151

In [54]:
type(numeric_columns)

list

In [55]:
#A quoi correspondent les colonnes qui ont 26298, 1767 et 4123 valeurs uniques  ?
print(object_columns[2],object_columns[3], object_columns[-1])

etaban202111_label mcumer202007_id insbpe2019_l_type_equipement

In [56]:
df_selec["etaban202111_label"]

0         19 Rue Jean-Jacques Rousseau 75001 Paris
1                80 Rue de la Roquette 75011 Paris
2                    103 Rue Lemercier 75017 Paris
3                          8 Rue Dalou 75015 Paris
4              110 Boulevard de Clichy 75018 Paris
                            ...
114067    37 Rue Jean-Baptiste Pigalle 75009 Paris
114068              9 Rue Joseph Dijon 75018 Paris
114069             7 Rue Chateaubriand 75008 Paris
114070             177 Boulevard Murat 75016 Paris
114071             20 Rue du Transvaal 75020 Paris
Name: etaban202111_label, Length: 114072, dtype: object

In [57]:
#On supprime la colonne etaban202111_label" => on travaillera uniquemet avec le code etaban_lot si besoin
object_columns.remove("etaban202111_label")
df_selec=df_selec.drop("etaban202111_label", axis=1)

In [58]:
df_selec["mcumer202007_id"]

0         PA00085855
1         PA75110001
2         PA75170004
3         PA00086657
4         PA00088936
             ...
114067    PA00088920
114068    PA00086756
114069    PA00088889
114070    PA00086698
114071    PA00086791
Name: mcumer202007_id, Length: 114072, dtype: object

In [59]:
df_selec["mcumer202007_id"].nunique()

1739

In [60]:
df_final["mcumer202007_id"].isna().sum()

6079

In [61]:
df_final["mcumer202007_id"].describe()

count         107993
unique          1739
top       PA00132991
freq            1272
Name: mcumer202007_id, dtype: object

In [62]:
# 88130 des mutations ont un identifiant mcumer202007_id. Le reste ce sont des nan. 
# Si cet identifiant veut dire que le bâtiment est dans un périmètre ABF monument historique, autant prendre la variable mcumer202007_is_mer. 
# Si cet identifiant veut dire que le bâtiment est classé monument historique => alors pas nécessaire de le garder pq ils le sont tous dans la mesure où ils ont tous un identifiant

In [63]:
# Décision prise de supprimer les variables "mcumer202007_id" et "mcumer202007_dist500min" pour ne garder que "mcumer202007_is_mer"

object_columns.remove("mcumer202007_id")
numeric_columns.remove("mcumer202007_dist500min")

df_selec=df_selec.drop(["mcumer202007_id","mcumer202007_dist500min"], axis=1)

In [64]:
df_selec["insbpe2019_l_type_equipement"].nunique()

5151

In [65]:
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].astype(str)
df_selec["insbpe2019_l_type_equipement"]=df_selec["insbpe2019_l_type_equipement"].apply(lambda x : x.strip("()"))
df_selec["insbpe2019_l_type_equipement"]

0         7:Agence immobilière,Magasin d'équipements du ...
1         11:Menuisier, charpentier, serrurier,Pressing ...
2                                                       nan
3                                                       nan
4                        1:Restaurant - Restauration rapide
                                ...
114067                                                  nan
114068    4:Coiffure,Institut de beauté - Onglerie,Taxi ...
114069    2:Agence immobilière,Spécialiste en dermatolog...
114070                                                  nan
114071                                                  nan
Name: insbpe2019_l_type_equipement, Length: 114072, dtype: object

In [66]:
# On ne va conserver que les occurences qui à priori occasionnent le plus de nuisances sonores pour les riverains 
# et qui par conséquent sont suceptibles de déclencher une revente

def filtre_supermarché (x):
    if "Supermarché" in x or "Épicerie" in x or "Supérette" in x or "Hypermarché" in x :
        return 1
    else :
        return 0

In [67]:
df_selec["insbpe2019_l_type_equipement_supermarché"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_supermarché)

In [68]:
df_selec["insbpe2019_l_type_equipement_supermarché"].value_counts()

0    106646
1      7426
Name: insbpe2019_l_type_equipement_supermarché, dtype: int64

In [69]:
df_selec[["insbpe2019_l_type_equipement", "insbpe2019_l_type_equipement_supermarché"]]

,insbpe2019_l_type_equipement,insbpe2019_l_type_equipement_supermarché
0,"7:Agence immobilière,Magasin d'équipements du ...",0
1,"11:Menuisier, charpentier, serrurier,Pressing ...",1
2,nan,0
3,nan,0
4,1:Restaurant - Restauration rapide,0
...,...,...
114067,nan,0
114068,"4:Coiffure,Institut de beauté - Onglerie,Taxi ...",1
114069,"2:Agence immobilière,Spécialiste en dermatolog...",0
114070,nan,0
114071,nan,0

In [70]:
df_selec.iloc[1]["insbpe2019_l_type_equipement"]

'11:Menuisier, charpentier, serrurier,Pressing - Laverie automatique,Agence de voyages,Agence immobilière,Masseur kinésithérapeute,Médecin généraliste,Sage-femme,Spécialiste en dermatologie vénéréologie,Spécialiste en psychiatrie,Supermarché,Supérette'

In [71]:
def filtre_restaurant (x):
    if "Restaurant - Restauration rapide" in x or ":Restaurant - Restauration rapide" in x or "Restaurant universitaire" in x :
        return 1
    else :
        return 0

In [72]:
df_selec["insbpe2019_l_type_equipement_restaurant"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_restaurant)

In [73]:
df_selec["insbpe2019_l_type_equipement_restaurant"].value_counts()

0    87775
1    26297
Name: insbpe2019_l_type_equipement_restaurant, dtype: int64

In [74]:
def filtre_boulangerie (x):
    if "Boulangerie" in x or ":Boulangerie" in x :
        return 1
    else :
        return 0

In [75]:
df_selec["insbpe2019_l_type_equipement_boulangerie"]=df_selec["insbpe2019_l_type_equipement"].apply(filtre_boulangerie)

In [76]:
df_selec["insbpe2019_l_type_equipement_boulangerie"].value_counts()

0    110180
1      3892
Name: insbpe2019_l_type_equipement_boulangerie, dtype: int64

In [77]:
# Création d'une variable "insbpe2019_l_type_equipement_bruyant"
df_selec["Commerces_bruyants"]=df_selec["insbpe2019_l_type_equipement_supermarché"]+df_selec["insbpe2019_l_type_equipement_boulangerie"]+df_selec["insbpe2019_l_type_equipement_restaurant"]

In [78]:
#On peut maintenant supprimer la colonne df_selec["insbpe2019_l_type_equipement"] 
# et les colonnes qui ont servies à créer la variable "commerces_bruyants"
to_drop=["insbpe2019_l_type_equipement", 
         "insbpe2019_l_type_equipement_supermarché",
                   "insbpe2019_l_type_equipement_restaurant",
                   "insbpe2019_l_type_equipement_boulangerie"]

df_selec=df_selec.drop(to_drop, axis=1)

In [79]:
object_columns=df_selec.select_dtypes(include='object').columns.tolist()
object_columns

['libnatmut',
 'vefa',
 'adedpe202006_logtype_baie_type_vitrage',
 'adedpe202006_logtype_ch_gen_lib_princ',
 'adedpe202006_logtype_classe_conso_ener',
 'adedpe202006_logtype_classe_estim_ges',
 'adedpe202006_logtype_traversant',
 'adedpe202006_logtype_ecs_type_ener',
 'adedpe202006_logtype_ph_pos_isol',
 'adedpe202006_logtype_type_batiment',
 'cerffo2020_usage_niveau_1_txt',
 'georad2020_alea']

In [80]:
for col in df_selec[object_columns]:
    print(df_selec[col].nunique())

2
2
5
18
8
8
9
5
5
5
4
1

In [81]:
df_selec["geoarg2020_alea"].isna().sum()

114072

In [82]:
#La variable "geoarg2020_alea" est composée à 100% de Nan
# Aucun bâtiment en risque argile à Paris : https://assistance.brgm.fr/georisques/pourquoi-ny-til-pas-cartographie-lexposition-au-risque-retrait-gonflement-argiles-ville
#Je supprime

numeric_columns.remove("geoarg2020_alea")

df_selec=df_selec.drop("geoarg2020_alea", axis=1)

In [83]:
df_selec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114072 entries, 0 to 114071
Data columns (total 49 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   idmutation                                   114072 non-null  int64
 1   y                                            114072 non-null  int64
 2   idnatmut                                     114072 non-null  int64
 3   libnatmut                                    114072 non-null  object
 4   vefa                                         114072 non-null  object
 5   valeurfonc                                   114033 non-null  float64
 6   nblot                                        114072 non-null  int64
 7   nbcomm                                       114072 non-null  int64
 8   l_codinsee                                   114072 non-null  int64
 9   nblocapt                                     114072 non-null  int64
 10  nblocdep                                     114072 non-null  int64
 11  nbapt2pp                                     114072 non-null  int64
 12  nbapt3pp                                     114072 non-null  int64
 13  sbati                                        114072 non-null  int64
 14  sbatapt                                      114072 non-null  int64
 15  sbatact                                      114072 non-null  int64
 16  sapt2pp                                      114072 non-null  int64
 17  sapt3pp                                      114072 non-null  int64
 18  scarrez                                      114072 non-null  float64
 19  anarnc202012_nb_log                          105340 non-null  float64
 20  anarnc202012_nb_lot_garpark                  105340 non-null  float64
 21  anarnc202012_nb_lot_tertiaire                105340 non-null  float64
 22  anarnc202012_nb_lot_tot                      105340 non-null  float64
 23  adedpe202006_logtype_baie_type_vitrage       106602 non-null  object
 24  adedpe202006_logtype_ch_gen_lib_princ        107050 non-null  object
 25  adedpe202006_logtype_classe_conso_ener       107820 non-null  object
 26  adedpe202006_logtype_classe_estim_ges        107820 non-null  object
 27  adedpe202006_logtype_traversant              93490 non-null   object
 28  adedpe202006_logtype_ecs_type_ener           105833 non-null  object
 29  adedpe202006_logtype_enr                     114072 non-null  int64
 30  adedpe202006_logtype_perc_surf_vitree_ext    18372 non-null   float64
 31  adedpe202006_logtype_ph_pos_isol             81449 non-null   object
 32  adedpe202006_logtype_presence_balcon         20109 non-null   float64
 33  adedpe202006_logtype_presence_climatisation  107820 non-null  float64
 34  adedpe202006_logtype_type_batiment           107820 non-null  object
 35  ancqpv201410_is_qpv                          113819 non-null  float64
 36  cerffo2020_annee_construction                103191 non-null  category
 37  cerffo2020_usage_niveau_1_txt                114072 non-null  object
 38  cerffo2020_nb_log                            114072 non-null  int64
 39  georad2020_alea                              113819 non-null  object
 40  igntop202103_bat_hauteur                     113804 non-null  float64
 41  mcumer202007_is_mer                          113819 non-null  float64
 42  adedpe202006_logtype_s_hab                   107644 non-null  float64
 43  baie_orientation_sud                         114072 non-null  int64
 44  baie_orientation_nord                        114072 non-null  int64
 45  baie_orientation_ouest                       114072 non-null  int64
 46  baie_orientation_est                         114072 non-null  int64
 47  baie_orientation_autre                       114072 non-null  int64
 48  Commerces_bruyants                           114072 non-null  int64
dtypes: category(1), float64(13), int64(23), object(12)
memory usage: 41.9+ MB

In [84]:
df_final["adedpe202006_logtype_ecs_gen_lib_princ"].value_counts()

ecs electrique a effet joule                       56447
chaudiere gaz standard                             30092
reseau de chaleur                                   6292
chaudiere gaz basse temperature                     3585
chaudiere gaz condensation                          2596
chaudiere electrique                                1835
chaudiere fioul standard                            1801
chauffe-eau gaz independant                         1789
ecs solaire                                          637
chaudiere energie indetermine standard               351
ecs thermodynamique electrique(pac ou ballon)        308
chaudiere energie indetermine indetermine            288
chaudiere bois                                       205
chaudiere fioul basse temperature                    164
production mixte indetermine                         144
chauffe-eau independant indetermine                  101
chaudiere energie indetermine basse temperature       72
chaudiere fioul condensation                          31
chaudiere energie indetermine condensation            25
ecs autre indetermine                                  4
chaudiere gpl/butane/propane standard                  4
Name: adedpe202006_logtype_ecs_gen_lib_princ, dtype: int64

In [85]:
df_final["adedpe202006_logtype_ecs_type_ener"].value_counts()

electricite                                                    58681
gaz                                                            38182
reseau de chaleur                                               6348
fioul                                                           1996
ecs thermodynamique electrique(pac ou ballon)                    320
bois                                                             141
ecs thermodynamique electrique(pac ou ballon) + gaz               65
bois + reseau de chaleur                                          46
electricite + gaz                                                 15
bois + gaz                                                        13
ecs thermodynamique electrique(pac ou ballon) + electricite        9
bois + ecs thermodynamique electrique(pac ou ballon) + gaz         5
autre                                                              4
gpl/butane/propane                                                 4
charbon + gaz                                                      3
electricite + reseau de chaleur                                    1
Name: adedpe202006_logtype_ecs_type_ener, dtype: int64

In [86]:
df_selec.to_csv(r"C:\Users\Anne\Projet Bâtiment\210622\df_selec.csv", index=False)